<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css"></head>
</head>
<body>
<h1 th:text=""></h1>
<table>
    <tr>
        <th th:text="#{cars.table.header.make.label}"></th>
        <th th:text="#{cars.table.header.model.label}"></th>
        <th th:text="#{cars.table.header.status.label}"></th>
        <th th:text="#{cars.table.header.mileage.label}"></th>
        <th th:text="#{cars.table.header.amount.label}"></th>
        <th th:text="#{cars.table.header.yearofproduction.label}"></th>
        <th th:text="#{cars.table.header.bodytype.label}"></th>
    </tr>
</table>

</body>
</html>